#s-34c26df5-1482-4933-b9ac-98752ba17b9a > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-34c26df5-1482-4933-b9ac-98752ba17b9a > #alignmentBox {
  position: relative;
  max-width: 1024px;
  max-height: 768px;
}
#s-34c26df5-1482-4933-b9ac-98752ba17b9a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}