body {
    background-image: url("../images/background.jpg");     
    background-repeat: no-repeat;
}

body,  #logo, .navbar-brand, .navbar-light .navbar-nav .nav-link {
    color: #FDCA45!important;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #FDCA45;
    color: white;
    text-align: center;
}


.nav-link:hover {
    color: #FDCA45 !important;
} 

h1 {
    font-size: 80px;
    margin-left: 5%;
}

h2 {
    margin-left: 5%;
}

#beerSearch{
    margin-left: 5%;
}

.form-control-lg {
    width: 20%;
    float: left;
}

.btn-lg{
    float: left;
    margin-left: 0.5%;
    color: white;
    background-color: #FDCA45;
    border-color: #fd9927;
    border-width: 2.5px;
}

.btn-lg:hover {
    background-color: #FDCA45;
    border-color: #fd9927;
    border-width: 2.5px;
}

.btn.btn-primary.btn-lg:active {
    color: white;
    background-color: #FDCA45;
    border-color: #fd9927;
    border-width: 2.5px;
}


.suggestion img {
    margin-bottom: 1em;
    width: 40px;
    height: 100px;
    margin-left: 50px;
    margin-right: 50px;
}
